Iván Villamarín <iavillamarin98@gmail.com> iavillamarin98-pred <iavillamarin98@gmail.com>
Iván Villamarín <iavillamarin98@gmail.com> iavillamarin98-pred <iavillamarin98-pred@users.noreply.github.com>
Harold Vinueza <harold.vinueza2016@uteq.edu.ec> Harold-Vinueza <harold.vinueza2016@uteq.edu.ec>
Freddy Farinango <ffarinangog2@uteq.edu.ec> ffarinangog2 <ffarinangog2@uteq.edu.ec>
Isaías Urbina <iurbinar@uteq.edu.ec> IsaiasUrb <iurbinar@uteq.edu.ec>
